@use "../../../variables" as *;

.inputSection {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0;
    height: fit-content;

    h3 {
        margin: 30px 0;
        margin-bottom: 5px;
        font-size: 1.5rem;
    }

    p {
        margin: 0 0 20px;
        color: $font-muted;
    }

    .space {
        width: 100%;
        height: 10px;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        button {
            &.active {
                background-color: rgba(48, 85, 152, 0.2);
                border-color: $accent-color-medium;

                &:focus {
                    background-color: rgba(48, 85, 152, 0.4);
                }
            }
        }
    }

    input, textarea {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    button {
        gap: 8px;

        svg {
            --hw: 20px;
            height: var(--hw);
            width: var(--hw);
        }
    }

    .inputBox {
        label {
            margin-bottom: 0px;
        }

        input {
            margin-top: 5px;
        }

        &.checkbox {
            display: flex;
            align-items: center;
            gap: 8px;

            input {
                width: fit-content;
                margin: 0;
                margin-bottom: 3px;
            }

            label {
                margin: 0;
                font-size: 1rem;
            }
        }
    }

    .horizontalInputs {
        display: flex;
        gap: 15px;

        .inputBox.grow-1 {
            flex-grow: 1;
        }

        .inputBox.grow-2 {
            flex-grow: 2;
        }
    }

    .radioList {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 20px;
    }

    .securityConcern {
        display: flex;
        //align-items: center;
        gap: 8px;

        margin-bottom: 20px;

        svg {
            --hw: 20px;
            height: var(--hw);
            width: var(--hw);
        }
    }

    .horizontalSliders {
        width: 100%;
        display: flex;
        gap: 30px;

        label {
            width: 100%;
        }
    }

    .pickers {
        display: flex;
        gap: 30px;

        .colorPicker {
            flex-grow: 1;
        }

        @media screen and (max-width: 950px) {
            flex-direction: column;
            gap: 0;
        }
    }

    .colorPicker {
        display: flex;
        flex-direction: column;
        gap: 5px;

        span.label {
            font-size: 1.1rem;
            font-weight: 600;
        }

        .picker {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            background: rgba(255, 255, 255, 0.05);
            border: 1px solid rgba(227, 227, 227, 0.3);
            border-radius: 8px;

            margin-bottom: 20px;

            overflow: hidden;

            &:focus-within {
                border-color: $accent-color-medium;
            }

            .react-colorful {
                width: 100%;
                height: 130px;

                .react-colorful__last-control {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            input {
                background-color: transparent;
                border: none;
                margin: 0;
            }
        }
    }

    .shapePicker {
        display: flex;
        flex-direction: column;
        gap: 5px;

        margin-bottom: 20px;

        span.label {
            font-size: 1.1rem;
            font-weight: 600;
        }

        .custom-select__menu {
            z-index: 1000;
            background-color: #29292c;
            border-radius: 8px;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 11px rgba(0, 0, 0, 0.06);
        }

        .custom-select__control {
            box-shadow: none;
            transition: border-color 0.3s;
            background: rgba(255, 255, 255, 0.05);
            border: 1px solid rgba(227, 227, 227, 0.3);
            border-radius: 8px;
            color: $font-light;
            padding: 0;
        }

        .custom-select__value-container {
            padding: 0 8px;
        }

        .custom-select__single-value {
            color: $font-muted;
        }

        .custom-select__indicator {
            color: $font-muted;
        }

        .custom-select__control--is-focused {
            border-color: $accent-color-medium;
            box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
        }

        .custom-select__menu-list {
            padding: 0;
            border-radius: 8px;
        }

        .custom-select__option {
            transition: background-color 0.2s;
            padding: 5px 8px;
        }

        .custom-select__option--is-focused {
            background-color: rgba(48, 85, 152, 0.2);
            color: $font-light;
            cursor: pointer;
        }

        .custom-select__option--is-selected {
            background-color: #007BFF;
            color: $font-light;
        }
    }
}