$font: Montserrat, sans-serif;

$accent-color-light: #64b5f6;
$accent-color-medium: #2196f3;
$accent-color-dark: #1565c0;

$bg-color: #1A1B1E;
$bg-color-light: #1c1c1f;
$bg-input: #222325;

$font-light: #ffffff;
$font-muted: #cecece;

$error: #f44336;